body {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #CFE9F1;
}

input:focus {
  outline: none;
  box-shadow: none;
}

input {
  font-size: 68px;
  color: white;
  text-align: right;
  padding: 12px;
  cursor: pointer;
  grid-column: 1 / 5;
  border-radius: 30px;
  background-color: rgb(138, 154, 139);
  border: solid 6px coral;
}

.calculator-container {
  height: 70vh;
  width: 27vw;
  border-radius: 35px;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: repeat(5, 20%);
  background-color: coral;
  border: solid 6px #c8dfe7;
  box-shadow: -6px -6px 25px rgba(229, 210, 228, 0.5),
  22px 2px 92px rgba(0, 0, 0, 0.35);
  position: absolute;
  cursor: pointer;
  transition: transform 0.3s ease;
  padding: 6px;
}


.min {
  grid-column: 4 / 5;
  grid-row: 3 / 4;
}

.result {
  grid-column: 4 / 5;
  grid-row: 3 / 4;
}

.zero {
  grid-column: 1 / 2;
  grid-row: 5 / 6;
}

button {
  border: none;
  font-size: 22px;
  border-radius: 20px;
  font-weight: 600;
  background-color: coral;
  margin: 12px;
  box-shadow:
    -6px -6px 10px rgba(250, 250, 250, 0.15),
    4px 4px 9px rgba(0, 0, 0, 0.14);
  cursor: pointer;
}

button:hover {
  box-shadow:
    -12px -12px 20px rgba(250, 250, 250, 0.9),
    15 15px 27px rgba(0,0,0,0.9);
  transform: translateY(-2px);
  transform: scale(1.05);
  transition: scale 1s;
}

.del {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
}

.min {
  grid-column: 4 / 5;
  grid-row: 5 / 6;
}
